@page
@using GoodFood.Areas.Identity.Pages.Account
@model LoginModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Log In";
}

<h2>@ViewData["Title"]</h2>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form method="post">
    @Html.AntiForgeryToken()
    <div>
        <label asp-for="Input.Email">Email</label>
        <input asp-for="Input.Email" class="form-control" name="Input.Email"/>
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Input.Password">Password</label>
        <input asp-for="Input.Password" class="form-control" type="password" name="Input.Password" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Log In</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
